body{
	font-family: Roboto;
	background-color: white;
	color: black;
	height: 100%;
}
#title {
	color: #FF9900;
	font-size: 60pt;
}
#usernameFld {
	size: 35;
}
#usernameTxt {
	font-size: 30pt;
}

#passwordFld {
	size: 35;
}
#passwordTxt {
	font-size: 30pt;
}
#loginBtn {
	background-color: #FF9900;
	color: #FFFFFF;
}

#mainMenu {
	color:#009900;
	font-size: 70pt;
}
#logout {
	background-color: #FF3333;
	color:#FFFFFF;
}
.ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
		position:center;
         }

